#menu {
    margin-left:20%;
}

div#left {
    margin-right:10%;
}


.jumbotron {
    background-color:rgb(72, 102, 128);
}

.jumbotron .h2, .jumbotron h2 {
    color: rgb(243, 235, 235);
}

body {
    background-color: rgb(243, 235, 235);
}

a {
    color: rgb(70, 126, 175);
}